body {
    margin:0;
    padding: 0;
}

#notbody {
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    flex:1;
    min-height:100vh;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#sanctumpart1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}

#sanctumheader {
    display: flex;
    justify-content: space-between;

}

#sanctumheaderlist {
    display: flex;
    list-style: none;
    font-size: 18px;
}

#container {
    display: flex;
    margin: 0;
    padding: 0;
}

#container img {
    height: 200px;
}

#leftcontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
}
#leftcontainer p {
    margin: 0;
}

#sanctumbig {
    font-size:48px;
    font-weight:bold;
    padding: 0;
    margin: 0;
}

#sanctumpart2 {
    display: flex;
    flex-direction: column;
}

#sanctumrandomlist {
    display: flex;
    list-style-type: none;
    gap:50px;
    text-align: center;
}

#sanctumrandomlist img {
    display: flex;
    width: 100px;
    border-radius: 20px;
    padding: 20px;
}

#sanctumpart3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    width: 100%;
    align-items: center;
}

#gandhi {
    display: flex;
    font-weight: bold;
    margin-left: 700px;
}

#sanctumpart4 {
    display: flex;
    background-color: #3882f6;
    margin:60px 150px;
    border-radius: 20px;
    justify-content: space-between;
    padding: 20px 80px;
    color: #f9faf8;
    font-size: 8px;
    align-items: center;
}

#sanctumpart4 button {
    border: 1.5px solid;
    border-color: #f9faf8;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
}

#sanctumfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}















