body {
    font-family: "roboto";
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#headerheading {
    margin: 10px 0;
}

#sanctumpart1 {
    display: flex;
    background-color: #1f2937;
    padding: 50px 200px;
    justify-content: space-between;
    padding-bottom: 100px;
}

#part1button {
    width: 100px;
    height: 28px;
    border:solid;
    border-color: #3882f6;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 8px;
}

#sanctumpart1 img {
    width: 500px;
    height: auto;
    padding-left: 30px;
}

#sanctumheader {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 200px;
    padding-bottom: 70px;
}

#sanctumheaderlist {
    display: flex;
    list-style: none;
    font-size: 18px;
    justify-content: center;
    gap:20px;
}
#sanctumheaderlist a {
    color:#e5e7eb;
}

#leftcontainer {
    display: flex;
    flex-direction: column;
}
#leftcontainer p {
    margin: 0;
    color: #e5e7eb;
}

#sanctumbig {
    font-size:48px;
    font-weight:bold;
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

#rightcontainer {
    display: flex;
}

#sanctumpart2 {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

#sanctumrandomlist {
    display: flex;
    list-style-type: none;
    gap:50px;
}

#sanctumrandomlist img {
    display: flex;
    width: 150px;
    border-radius: 20px;
}

#sanctumrandomlist li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sanctumpart3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    align-items: center;
    font-weight: lighter;
    padding: 100px 150px;
}

#famousperson p {
    margin-left:700px;
    margin-top: 0;
}

#sanctumpart4 {
    display: flex;
    background-color: #3882f6;
    margin:50px 200px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px 80px;
    color: #f9faf8;
    font-size: 15px;
    align-items: center;
}

#sanctumpart4 button {
    border: 1.5px solid;
    border-color: #f9faf8;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
}

#sanctumpart4 p, h1 {
    margin: 0;
    padding: 0;
}

#sanctumfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}


