html body {
    padding:0;
    margin:0;
}

#notbody {
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    flex:1;
    min-height:100vh;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#sanctumpart1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}

#sanctumheader {
    display: flex;
    justify-content: space-between;
}

#sanctumheaderlist {
    display: flex;
    list-style: none;
    font-size: 18px;
}

#sanctumbig {
    font-size:48px;
    font-weight:bold;
}

#sanctumpart2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sanctumrandomlist {
    display: flex;
    list-style-type: none;
    gap:50px;
}

#sanctumrandomlist img {
    display: flex;
    width: 100px;
    border-radius: 20px;
}

#sanctumpart3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    width: 100%;
    align-items: center;
}

#gandhi {
    display: flex;
    font-weight: bold;
    margin-left: 700px;
}

#sanctumfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}















